.users-card {
  background-color: cornflowerblue;
  //color: cor da fonte
  // padding: 40px;
}

.fishcoin-card {
  background-color: DarkCyan;
  //color: cor da fonte
  //padding: 40px;
}

.fishcoin_marketcap-card {
  background-color: IndianRed;
  //color: cor da fonte
  //padding: 40px;
}
