<div class="nes-container with-title is-centered button-actions">
  <p class="title">Skills Training</p>

  <button id="sweet-alert-strength" class="nes-btn is-success">Strength Training</button>
  <%=link_to "", pingochi_strength_path(@pingochi), method: :patch, id: "strength-action" , class: "hidden" %>

  <button id="sweet-alert-speed" class="nes-btn is-success">Speed Training</button>
  <%=link_to "", pingochi_speed_path(@pingochi), method: :patch, id: "speed-action" , class: "hidden" %>

  <button id="sweet-alert-inteligence" class="nes-btn is-success">Study Training</button>
  <%=link_to "", pingochi_inteligence_path(@pingochi), method: :patch, id: "inteligence-action" , class: "hidden" %>

</div>
