<div class="nes-container with-title is-centered button-actions">
  <p class="title">Skills Training</p>

  <%=link_to "Strength", pingochi_strength_path(@pingochi), class: "nes-btn is-success", method: :patch%>

</div>
