<div class="nes-container with-title is-centered button-actions">
  <p class="title">Skills Training</p>

  <%=link_to "Workout", pingochi_strength_path(@pingochi), class: "nes-btn is-success", method: :patch%>
  <%=link_to "Run", pingochi_speed_path(@pingochi), class: "nes-btn is-success", method: :patch%>
  <%=link_to "Study", pingochi_inteligence_path(@pingochi), class: "nes-btn is-success", method: :patch%>



</div>
