<div class="nes-container with-title is-centered">
  <p class="title">Menu</p>
  <%=link_to "slap", pingochi_slap_path(@pingochi), class: "nes-btn is-warning", method: :patch%>
  <%=link_to "feed", pingochi_feed_path(@pingochi), class: "nes-btn is-warning", method: :patch%>
  <%=link_to "sleep", pingochi_sleep_path(@pingochi), class: "nes-btn is-warning", method: :patch%>
  <%=link_to "add item", edit_pingochi_path(@pingochi), class: "nes-btn is-warning"%>
</div>
