<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));">
  <div class="container">
    <h1>Pingochi</h1>
    <p>Change your life! Learn to create Penguins!</p>
  </div>
</div>

<div class="container home-section">
  <div class="home-header">
    <h1>The Game</h1>
  </div>
  <p>Penguins are awesome animals! Beyond a complex society, they also can be very profitable!</p>
  <p>Learn how to raise penguins and earn small fortunes with our NFT powered by Ethereum!</p>
  <%= link_to "Create Now", new_pingochi_path, class: "btn btn-flat" %>
</div>

<div class="container home-section-2">
  <div class=home-header-2>
    <h1>How Does It Work</h1>
  </div>
  <p>Sing up! And choose a penguin specimen, give it a good name and take care like a baby.</p>
  <p>You should take care some obligations like feeding, rest, have some fun and teach fishing.</p>
  <p>Each activity you developed allows you to accumulate points, that can be converted into Fishcoins!
  The money of the future! Descentralized, protected from governments and tax-free!</p>
  <%= link_to "Create Now", new_pingochi_path, class: "btn btn-flat" %>
</div>

<div class="container home-section-3">
  <div class=home-header-3>
    <h1>Join us the Pingochi lifestyle and be welcome to a New Free World!</h1>
</div>
