<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));">
  <div class="container">
    <h1>Pingochi</h1>
    <p>Change your life! Learn how to create and care for Penguins!</p>
  </div>
</div>

<div class="container home-section">
  <div class="home-header">
    <h1>About the game</h1>
  </div>
  <p>Penguins are awesome animals! Not only they have complex social relationships, they can also prove very profitable!</p>
  <p>Learn how to raise penguins and earn small fortunes with our NFT powered by Ethereum!</p>
  <%= link_to "Create Now", new_pingochi_path, class: "btn btn-flat" %>
 </div>

<div class="container">
  <h2>How it works</h1>
  <p>First of all, sing up! And choose a penguin specimen, give it a creative nickname and take good care of it to see it grow.</p>
  <p>Just like us, they need to meet their basic needs in order to survive and develop. So keep an eye on your Pingochi's health and perform tasks like fishing, feeding, resting, and specially having fun!</p>
  <p>Each activity you complete allows you to accumulate points, that can be converted into Fishcoins - the money of
  the future! Descentralized, far from any greedy government reach and tax-free!</p>
</div>

<div class="container">
  <h2>Join the Pingochi lifestyle and make the best of a New Free World!</h1>
  <%= link_to "Create Now", new_pingochi_path, class: "btn btn-flat" %>
</div>
