<div class="container2">
  <div>
    <h2><span class="nes-text is-error">Fatality!</span><br><br></h2>
    <h1><%= @battle.pingochi_winner.name %> Wins<br><br></h1>
    <i class="nes-icon trophy is-large"></i>
  </div>
</div>
