
<div class="container">
  <div class="row">

    <div class="col-3">
      <div>
        <%= render 'shared/menu_actions' %>
      </div>
    </div>

    <div class="col-4">
      <p class="title">Pingochi Animation</p>
    </div>

    <div class="col-5">
      <div>
        <%= render 'shared/pingochi_info' %>
      </div>
      <div>
        <%= render 'shared/pingochistatus' %>
      </div>
    </div>

  </div>
</div>
