.banner {
  background-size: cover;
  background-image: asset-url('banner_home.gif');
  background-position: center;
  padding-top: 150px;
  text-align: center;
  margin-bottom: 18px;
  position: relative;

  & h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 48px;
    font-weight: bold;
  }

  & p {
  margin-top: 40px;
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  & .penguin-image-banner {
    width: 40px;
    margin-top: 120px;
    vertical-align: bottom;
  }
}
