.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  color: black;
  padding: 16px 0px;
}

.card-text {
  height: 80px;
  margin-top: 40px;
}

.card-title {
  height: 20px;
  margin-bottom: 5px;
}

.card-pingochi {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 16px;
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.badge-card span {
    background-color: #fffbec;
    font-weight: 300;
    font-size: 10px;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #f39237;
    justify-content: center;
    align-items: center
}


.card-pingochi > pingochi-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-pingochi h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-pingochi p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-pingochi .card-pingochi-infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-pingochi .card-pingochi-bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-pingochi-infos .card-pingochi-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
