
.pingochi-avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  &.selected {
    border: 2px;
    border-color: rgb(243, 146, 55);
    border-style: solid;
    border-width: thick;
    image-rendering: pixelated;
  }
}
.pingochi-container {
  background-image: url(background-pingochi.gif);
  background-position: center;
  background-size: cover;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.align-center {
  align-self: center;
}
