
.pingochi-avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  &.selected {
    border: 2px;
    border-color: rgb(243, 146, 55);
    border-style: solid;
    border-width: thick;
    image-rendering: pixelated;
  }
}
.pingochi-container {
  background-image: url(background-pingochi.gif);
  background-position: center;
  background-size: cover;
}

.mating-container {
  background-image: url(background_mating.gif);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.battle-container {
  background-image: url(background_battle.gif);
  background-position: center;
  background-size: cover;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.align-center {
  align-self: center;
}

#fight {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
}

#love {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
}

.container2 {
  text-align: center;
  padding: 16px;
  height: calc(100vh - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
}
