.home-section{
  border: 1px solid pink;
  padding-top: 40px;
}
.home-header{
  border: 1px dashed orange;
  color: gray;
  text-align: center;
  h1{
    font-size: bold;
  }
}

.home-section-2{
  border: 1px solid pink;
}
.home-header-2{
  border: 1px dashed orange;
  color: gray;
  text-align: center;
  h1{
    font-size: bold;
  }
}

.home-section-3{
  border: 1px solid pink;
}
.home-header-3{
  border: 1px dashed orange;
  color: gray;
  text-align: center;
  h1{
    font-size: bold;
  }
}
